.payment--method-logo{width: 80px; height: 40px; display: inline-block; float: right; &:before {
  content: "\00a0";}
}

.payment_logo_fatchip_computop_amazonpay{
  background: url('../../../../responsive/frontend/_resources/images/amazon_pay_logo.png') center/cover;
}

.payment_logo_fatchip_computop_creditcard {
  background: url('../../../../responsive/frontend/_resources/images/visa_mastercard_amex_logo.png') center/cover;
  width: 122px;
}
.payment_logo_fatchip_computop_easycredit {
  background: url('../../../../responsive/frontend/_resources/images/easycredit_ratenkauf_logo.png') center/cover;
}
.payment_logo_fatchip_computop_ideal {
  background: url('../../../../responsive/frontend/_resources/images/ideal_logo.png') center/cover;
}

.payment_logo_fatchip_computop_lastschrift {
  background: url('../../../../responsive/frontend/_resources/images/sepa_logo.png') center/cover;
}

.payment_logo_fatchip_computop_paydirekt {
  background: url('../../../../responsive/frontend/_resources/images/paydirekt_logo.png') center/cover;
}

.payment_logo_fatchip_computop_paypal_standard {
  background: url('../../../../responsive/frontend/_resources/images/paypal_logo.png') center/cover;
}

.payment_logo_fatchip_computop_postfinance {
  background: url('../../../../responsive/frontend/_resources/images/postfinance_logo.png') center/cover;
}

.payment_logo_fatchip_computop_przelewy24 {
  background: url('../../../../responsive/frontend/_resources/images/przelewy24_logo.png') center/cover;
}

.payment_logo_fatchip_computop_sofort {
  background: url('../../../../responsive/frontend/_resources/images/sofort_logo.png') center/cover;
}

.payment_logo_fatchip_computop_afterpay_invoice {
  background: url('../../../../responsive/frontend/_resources/images/afterpay_logo.png') center/cover;
  width: 200px;
  height: 40px;
}

.payment_logo_fatchip_computop_afterpay_installment {
  background: url('../../../../responsive/frontend/_resources/images/afterpay_logo.png') center/cover;
  width: 200px;
  height: 40px;
}

.payment_logo_fatchip_computop_klarna_slice_it {
  background: url('../../../../responsive/frontend/_resources/images/klarna_logo.svg') center/cover;
}

.payment_logo_fatchip_computop_klarna_pay_now {
  background: url('../../../../responsive/frontend/_resources/images/klarna_logo.svg') center/cover;
}

.payment_logo_fatchip_computop_klarna_pay_later {
  background: url('../../../../responsive/frontend/_resources/images/klarna_logo.svg') center/cover;
}

.payment_logo_fatchip_computop_klarna_direct_bank_transfer {
  background: url('../../../../responsive/frontend/_resources/images/klarna_logo.svg') center/cover;
}

.payment_logo_fatchip_computop_klarna_direct_debit {
  background: url('../../../../responsive/frontend/_resources/images/klarna_logo.svg') center/cover;
}

.main--actions #LoginWithAmazon {
  margin-right: 20px;
}
