// Uncomment the imports only during development. When Shopware compiles the LESS files all mixins are available.
// Some mixins can not be inspected by your IDE as they are only declared in PHP during template compilation.
//
//@import "../../../../../../../../../../../themes/Frontend/Bare/frontend/_public/src/less/all";
//@import "../../../../../../../../../../../themes/Frontend/Responsive/frontend/_public/src/less/all";

.payment--method-logo{width: 4.7em; display: inline-block; &:before {
  content: "\00a0";}
}

.payment_logo_fatchip_computop_creditcard {
  background: url('../../../../responsive/frontend/_resources/images/computop_mobilepay.png') center/cover;
}
.payment_logo_fatchip_computop_easycredit {
  background: url('../../../../responsive/frontend/_resources/images/computop_easycredit.png') center/cover;
}
.payment_logo_fatchip_computop_ideal {
  background: url('../../../../responsive/frontend/_resources/images/computop_ideal.png') center/cover;
}
.payment_logo_fatchip_computop_klarna_installment {
  background: url('../../../../responsive/frontend/_resources/images/computop_klarna_installment.jpg') center/cover;
}

.payment_logo_fatchip_computop_klarna_invoice {
  background: url('../../../../responsive/frontend/_resources/images/computop_klarna_invoice.jpg') center/cover;
}

.payment_logo_fatchip_computop_lastschrift {
  background: url('../../../../responsive/frontend/_resources/images/computop_lastschirft.png') center/cover;
}

.payment_logo_fatchip_computop_mobilepay {
  background: url('../../../../responsive/frontend/_resources/images/computop_mobilepay.png') center/cover;
}

.payment_logo_fatchip_computop_paydirekt {
  background: url('../../../../responsive/frontend/_resources/images/computop_paydirekt.png') center/cover;
}

.payment_logo_fatchip_computop_paypal_standard {
  background: url('../../../../responsive/frontend/_resources/images/computop_paypal_standard.png') center/cover;
}

.payment_logo_fatchip_computop_postfinance {
  background: url('../../../../responsive/frontend/_resources/images/computop_postfinance.png') center/cover;
}

.payment_logo_fatchip_computop_przelewy24 {
  background: url('../../../../responsive/frontend/_resources/images/computop_przelewy24.png') center/cover;
}

.payment_logo_fatchip_computop_sofort {
  background: url('../../../../responsive/frontend/_resources/images/computop_sofort.jpg') center/cover;
}
